// fonts
$headingFontFamily: 'Open Sans', sans-serif;
$standardFontFamily: 'Open Sans', sans-serif;
$quoteFontFamily:'Arizonia', cursive;
$bodyFont:#333; 

//colours
$primaryColour:#fff; 
$secondaryColour:#B5A16E; 
$primaryColourText:#000;
$secondaryColourText:#fff;
$emphasisColour:#B5A16E; 
$emphasisColour2:#ccc; 

// Social icons
$facebook:#3B5998;
$linkedin:#007BB6;
$pinterest:#CB2027;
$skype:#02B4EB; 
$twitter:#2CAAE1;
$tumblr:#304E6C;
$youtube:#B10503;
$google-plus:#DD4B39;
$github:#000000;
